package page

import (
	"chrisgradwohl.com/component"
)

templ Home() {
	@component.MainLayout() {
		<div class="grid">
			<img src="/img/me.jpg" alt=""/>
			<article id="article">
				<p>
					Hello and welcome. My name is Chris Gradwohl. I am a software engineer, husband, father and outdoor adventurer.
				</p>
			</article>
		</div>
		<style type="text/css">
			img {
				border-radius: 50%;
				width: 270px;
				height: 270px;
				margin: 0 auto;
				object-fit: cover;
			}
		</style>
	}
}
